@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), url('./fonts/trebuc.woff') format('woff');
  }

.App {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
  background-image: url('./assets/background.png');
  height: 100vh;
  overflow-y: hidden;
  z-index: 10;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-weight: 400;
  margin-top: 36px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #000000;
}